/cocos2d-x/HelloWorld/cocos2d/*
/cocos2d-x/HelloWorld/bin/*
/cocos2d-x/HelloWorld/proj.win32/.vs/*
/cocos2d-x/HelloWorld/proj.win32/Debug.*
*.db
/cocos2d-x/TankStrike/proj.win32/.vs/*
/cocos2d-x/TankStrike/proj.win32/Debug.*

/cocos2d-x/TankStrike/cocos2d/cocos/2d/Debug.win32/*
*.obj
*.idb
*.pdb
*.tlog
*.vcxproj.user
*.log
/simple_sniffer/.vs/
/cocos2d-x/TankStrike/cocos2d/cocos/2d/Debug.win32/
/cocos2d-x/TankStrike/proj.win32/Release.win32
/cocos2d-x/TankStrike/cocos2d/cocos/2d/Release.win32
/spring/cardatabase/bin/*
/cocos2d-x/TankStrike/bin/*
/cocos2d-x/TankStrike/linux-build/*
/cocos2d-x/TankStrike/linux-build-release/*
/cocos2d-x/TankStrike/.idea/
/cocos2d-x/TankStrike/cmake-build-debug/
/cocos2d-x/_build/*
/cocos2d-x/TankStrike/libs/pathfinder/cmake-build-debug/
/cocos2d-x/TankStrike/libs/pathfinder/src/main/cmake-build-debug/
