/cocos2d-x/HelloWorld/cocos2d/*
/cocos2d-x/HelloWorld/bin/*
/cocos2d-x/HelloWorld/proj.win32/.vs/*
/cocos2d-x/HelloWorld/proj.win32/Debug.*
*.db
/cocos2d-x/TankStrike/proj.win32/.vs/*
/cocos2d-x/TankStrike/proj.win32/Debug.*

/cocos2d-x/TankStrike/cocos2d/cocos/2d/Debug.win32/*
*.obj
*.idb
*.pdb
*.tlog
*.vcxproj.user
*.log
/simple_sniffer/.vs/
/cocos2d-x/TankStrike/cocos2d/cocos/2d/Debug.win32/
/cocos2d-x/TankStrike/proj.win32/Release.win32
/cocos2d-x/TankStrike/cocos2d/cocos/2d/Release.win32
/spring/cardatabase/bin/*
